# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.venv/
env.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Django specific files
*.log
local_settings.py
db.sqlite3
media/

# Flask specific files
instance/
.webassets-cache

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest
.cache/
*.cover
*.py,cover
htmlcov/
.tox/
.nox/
*.coverage
.coverage.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.bak
*.swp
*~
